{% extends "layouts/base.html" %}

{% block content %}
    <div class="text-center pt-5 pb-5 mt-5 mb-5">
        <a href="{% url 'profile_login' %}" class="m-auto btn btn-primary">Начать</a>
    </div>
{% endblock %}
