{% extends "layouts/base.html" %}

{% block content %}
    <div class="row mt-5 pb-5 pt-5">
        <div class="col-sm-10 m-auto">
            <h4>Личностные УУД</h4>
            <h3>Расположите в порядке от наиболее понравившегося до менее понравившегося:</h3>
        </div>

        <div class="col-sm-10 m-auto">
            {% if disciplines %}
                <div class="disciplines">
                    {% for obj in disciplines %}
                        <div>{{obj.discipline}}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
