{% extends "layouts/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-4 m-auto">
            <div class="mt-5 pt-5 pb-5">
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}

                    <div class="form-group">
                        {{ form.title }}
                        <small class="form-text text-muted">{{ form.title.errors }}</small>
                    </div>

                    <div class="form-group">
                        {{ form.description }}
                        <small class="form-text text-muted">{{ form.description.errors }}</small>
                    </div>

                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row mt-5 pt-5 pb-5">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Заголовок</th>
                        <th scope="col">Текст</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Дата</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in directories %}
                        <tr>
                            <td>{{obj.title}}</td>
                            <td>{{obj.description}}</td>
                            <td>{{obj.user.profiles.fullname}}</td>
                            <td>{{obj.created}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
