#cy {
    width: 1300px;
    height: 700px;
    display: block;
    background-color: #fff;
    margin: 0 auto;
}

.label-tasks label {
    text-align: center;
    padding: 20px 10px;
    display: block;
    width: 100%;
    cursor: pointer;
    background: grey;
    color: white;
    vertical-align: middle;
}

.label-tasks input:checked + label {
    background: black
}

.label-tasks input {
    display: none;
}
