{% extends "layouts/base.html" %}

{% block content %}
    <div class="row mt-5 pb-5 pt-5">
        <div class="col-sm-10 m-auto">
            {% if tasks %}
                <div class="tasks">
                    {% for obj in tasks %}
                        <a href="{% url 'task_process' obj.id %}">{{ obj.get_task_id_display }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
