{% extends "layouts/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-8 m-auto">
            <div class="mt-5 pt-5 pb-5">
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}

                    <div class="form-group">
                        {{ form.children.label_tag }}
                        {{ form.children }}
                        <small class="form-text text-muted">{{ form.children.errors }}</small>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            {% for task in form.task_id %}
                                <div class="col-sm-4 label-tasks">
                                    {{ task.tag }}
                                    <label for="{{ task.id_for_label  }}">{{ task.choice_label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Выбрать</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
