{% extends "layouts/base.html" %}

{% block content %}
    <div class="row mt-5 pb-5 pt-5">
        <div class="col-sm-10 m-auto">
            <h4>{{task.children.profiles.fullname}}</h4>
            <h4>Личностные УУД</h4>
        </div>

        <div class="col-sm-10 m-auto">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}

                <div class="form-group">
                    {{ form.discipline.label_tag }}
                    {{ form.discipline }}
                    <small class="form-text text-muted">{{ form.discipline.errors }}</small>
                </div>

                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
    </div>

    {% if disciplines %}
        <div class="row mt-5 pt-5 pb-5">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Дисциплина</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in disciplines %}
                            <tr>
                                <td>{{obj.discipline}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
