{% extends "layouts/base.html" %}

{% block content %}
    <div class="row mt-5 pb-5 pt-5">
        <div class="col-sm-10 m-auto">
            <h4>Предметные УУД</h4>
            <h5 class="mt-3">{{title}}</h5>
        </div>

        <div class="d-none">
            <div>
                <input type="text" name="question[]">
            </div>
            <div>
                Варианты ответов:
            </div>
            <div>
                <div>
                    <input type="text" name="answer[]">
                    <input type="checkbox" name="is_true[]">
                </div>
            </div>
        </div>

        <div class="col-sm-10 m-auto mt-5 py-5 text-center">
            <form method="post">
                {% for subject in subjects %}
                    <div>
                        <input type="text" name="question[]" value="{{subject.title}}">
                    </div>
                    <div>
                        Варианты ответов:
                    </div>
                    <div>
                        {% for option in subject__tasksobjectiveoptions.all %}
                            <div>
                                <input type="text" name="answer[]" value="{{option.}}">
                                <input type="checkbox" name="is_true[]">
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}
