{% extends "layouts/base.html" %}

{% block content %}
    <div class="row mt-5 pb-5 pt-5">
        <div class="col-sm-10 m-auto">
            <h4>Предметные УУД</h4>
        </div>

        <div class="col-sm-10 m-auto mt-5 py-5 text-center">
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'subject' task.id model.OBJECTIVE_MATH %}">Математика</a></li>
                <li class="list-group-item"><a href="{% url 'subject' task.id model.OBJECTIVE_RUSSIAN %}">Русския язык</a></li>
                <li class="list-group-item"><a href="{% url 'subject' task.id model.OBJECTIVE_READ %}">Литературное чтение</a></li>
                <li class="list-group-item"><a href="{% url 'subject' task.id model.OBJECTIVE_WORLD %}">Окружающий мир</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
