{% extends "layouts/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-4 m-auto">
            <div class="mt-5 pt-5 pb-5">
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}

                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        <small class="form-text text-muted">{{ form.username.errors }}</small>
                    </div>

                    <div class="form-group">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        <small class="form-text text-muted">{{ form.password.errors }}</small>
                    </div>

                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
