{% extends "layouts/base.html" %}

{% block content %}
<div class="row">
    <div class="col-4 m-auto">
        <div class="mt-5 pt-5 pb-5">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}

                <div class="form-group">
                    {{ form.fullname.label_tag }}
                    {{ form.fullname }}
                    <small class="form-text text-muted">{{ form.fullname.errors }}</small>
                </div>

                <div class="form-group">
                    {{ form.fullnameother.label_tag }}
                    {{ form.fullnameother }}
                    <small class="form-text text-muted">{{ form.fullnameother.errors }}</small>
                </div>

                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    <small class="form-text text-muted">{{ form.username.errors }}</small>
                </div>

                <div class="form-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    <small class="form-text text-muted">{{ form.password1.errors }}</small>
                </div>

                <div class="form-group">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    <small class="form-text text-muted">{{ form.password2.errors }}</small>
                </div>

                <button type="submit" class="btn btn-primary">{% if user.is_authenticated %}Сохранить{%else%}Зарегистрироваться{%endif%}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
